#navbar{
    display: inline-flex;
    gap: 10%;
}
#button1{
    color: white;
    background-color: black;
}
#page1{
    display: flex;
    gap: 10%;
}#heading2{
    display: flex;
    gap: 10%;
}
#navbar2{
    text-align: center;
    display: flex;
    gap: 5%;
    
}#button2{
    display: flex;
    gap: 20%;
}
#button3{
    color: white;
    background-color: red;
    
}
#page2{
    display: flex;
    gap: 20%;
}

#page3{
    display: flex;
    gap: 20%;
}
#button4{
    color: white;
    background-color: black;
}
#page4{
    display: flex;
    gap: 5%;
}
#button5{
    color: white;
    background-color: red;
}
#button6{
  color: white;
  background-color: yellow;

}
#page5{
    display: flex;
    gap: 20%;
}
#page6{
    display: flex;
    gap: 20%;
}
#page7{
    display: flex;

}
#page8{
    text-align: center;
}
#button7{
    color:  white;
    background-color: black;
}
#page9{
    display: flex;
    gap: 30%;
}
#page10{
    display: flex;
    gap: 10%;
}
#page11{
  text-align: center;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.prev .next{
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
}
